.page-header {
    border-bottom: none !important;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: white;
}

aside {
    background-color: transparent !important;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  color: white;
}

.search-details {
  color: rgb(0, 150, 112);
}
